<a href="https://colab.research.google.com/github/luizmaeaspillaga/LinearAlgebra_2ndSem/blob/main/Activity_1_Phyton_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Phyton Fundamentals
In this module, we are going to establish or review our skills in Phyton programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

The first thing to know about coding in Phyton is that it involves variable and data types. A variable is a container for a value. It can be assigned a name; you can use it to refer to it later in the program. A data type, on the other hand, is like a class/category where the value assigned belongs to. As seen in this activity, these may involve the use of integer (int), string(str),float, etc.

In [13]:
x = 1
l,k = 0, -1

In [14]:
type(x)

int

In [15]:
y = 1.0
type(y)

float

In [16]:
x = float(x)
type(x)

float

In [17]:
s,t,u = "0",'1','one'
type(t)

str

In [18]:
s_int = int(t)
s_int

1

## Operations

As seen in the activity, operators are used to perform operations on values and variables and to assign values to variables. Values were, first, assigned to a variable. Then, using compound operators, Python will use that operator to get the equivalent answer using the given operands.

### Arithmetic

Based on the results of this function, it is used to perform Mathematical operations such as addition, subtraction, multiplication, and division on numerical values.

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a+b
S

1.5

In [ ]:
### Subtraction
D = b-d
D

31.5

In [ ]:
### Multiplication
P = a*d
P

-64.0

In [ ]:
### Division
Q = c/a
Q

0.0

In [ ]:
### Floor Division
Fq = a//b
Fq

-4.0

In [ ]:
### Exponentiation
E = a**b
E

0.7071067811865476

In [ ]:
### Modulo
mod = d%a
mod

0.0

### Text Cell

In [ ]:
G, H, J, K = 0, 100, 2, -2

In [ ]:
G += a
G

2.0

In [ ]:
H -= d
H

132

In [ ]:
J *= 2
J

4

In [ ]:
K **= 2
K

4

### Comparators

This function is used to compare the true value or the value set and the value that was entered based on the operators used.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

True

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t2

False

### Logical

Logical operators in Python are used for conditional statements which are true and false. Specifically, it uses AND, OR and NOT as operators that each follows a certain condition. The AND operator returns TRUE if both the operands are true, the OR operator returns TRUE if either of the operand is true, while the NOT operator returns TRUE if operand is false.

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p, q = True, False
disc = p or Q
disc

True

In [ ]:
p, q = True, False
x = not(p and q)
x

True

In [ ]:
p, q = True, False
xor = (not p and q) or (not p and q)
xor

False

### I/O

Input function is use to enter data at run time while the output is used to display the result. In this function the command print is used to display the phrase that was entered.

In [ ]:
print("Hello Philippines and Hello World")

Hello Philippines and Hello World

In [ ]:
cnt = 1

In [ ]:
string = "Hello Philippines and Hello World"
print(string, ", Current run count is:", cnt)
cnt =+ 1

Hello Philippines and Hello World , Current run count is: 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

Hello Philippines and Hello World, Current count is: 1

In [ ]:
sem_grade = 82.243564657461234
name = "jopay"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello jopay, your semestral grade is: 82.24356465746123

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are: \
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 23

'23'

## Looping Statements

### While

While loop is used to execute a set of statements as long as a condition is true. First, it requires relevant variables to be ready. In this activity, the indexing variable, i, is set to 1 and the condition is set to stop if i becomes less than or greater than 10, thus, the program will keep on printing until it satisfies the condition.

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|t{j}")
    i+=1

0	|t10
1	|t10
2	|t10
3	|t10
4	|t10
5	|t10
6	|t10
7	|t10
8	|t10
9	|t10
10	|t10

## For

The "for" function is used to repeat a block of code entered in a fixed number of times. The block of code entered can be increased by using the command ++ or decreased --.

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
playlist = ["Bakit Papa","Meron Ba","All Too Well"]
print('Now Playing:\n')
for song in playlist:
    print(song)

Now Playing:

Bakit Papa
Meron Ba
All Too Well

## Flow Control

## Condition Statement

Conditional Statements are used as a Decision-making program in Python. It uses conditional statements such as If, elif, else, and many more in which the code would be evaluated if it meets the specified conditions. The conditions should be answerable with YES or NO only.

In [ ]:
numeral1, numeral2 = 12,12
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Aww")

Yey

## Functions

The function is used to return a value a return statement. After a function is defined, the return statement will determine the value to be returned.

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}". format(userid))

def delete_all_users ():
    print("Goodbye Earth")

In [ ]:
userid = "Mae"
delete_user("Mae")
delete_all_users()

Successfully deleted user: Mae
Goodbye Earth

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

In [ ]:
addend1, addend2 = 24, 25
add(addend1, addend2)

exponent = 8
power_of_base2(exponent)

256

## Activity

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
name = input("Enter your name: ")
course = input("Enter your course: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
sem_grade = (pg*w_pg)+(mg*w_mg)+(fg*w_fg)
print("Hello {}, from {}, your semestral grade for this subject is: {}".format(name, course, round(sem_grade, 2))) 
if(sem_grade > 70.00):
      print("\U0001F600")
elif(sem_grade == 70.00):
      print("\U0001F606")
else:
      print("\U0001F62D")

Enter your name: Luizmae
Enter your course: BS Chemical Engineering
Enter prelim grade: 89
Enter midterm grade: 99
Enter finals grade: 79
Hello Luizmae, from BS Chemical Engineering, your semestral grade for this subject is: 88.0
ðŸ˜€